Value Device (\S+)
Value Mac (\w+(-\w+){5})
Value IP (\d+(\.\d+){3})
Value VLAN (\S+)
Value Subnet (\d+(\.\d+){3})
Value Gateway (\d+(\.\d+){3})
Value Boot (Build \S+)
Value Firmware (Build \S+)
Value Hardware (\S+)
Value Name (\S+)
Value Location (\S+)
Value Telnet (\S+.+)
Value SSH (\S+.+)
Value Clipaging (\S+)

Start
  ^.*Device Type.*: ${Device}
  ^.*MAC Address.*: ${Mac}
  ^.*IP Address.*: ${IP}
  ^.*VLAN Name.*: ${VLAN}
  ^.*Subnet Mask.*: ${Subnet}
  ^.*Default Gateway.*: ${Gateway}
  ^.*Boot PROM Version.*: ${Boot}
  ^.*Firmware Version.*: ${Firmware}
  ^.*Hardware Version.*: ${Hardware}
  ^.*System Name.*: ${Name}
  ^.*System Location.*: ${Location}
  ^.*TELNET.*: ${Telnet}
  ^.*SSH.*: ${SSH}
  ^.*Clipaging.*: ${Clipaging}
  ^.*CLI Paging.*: ${Clipaging} -> Record
